.row
  .col-md-2.col-md-offset-10
    %button{:id => 'add_transaction', :class => 'btn btn-default', "data-toggle" => 'modal', "data-target" => '#transactionModel'} + Add Transaction
= form_tag transactions_path, :method => :get, :id => 'transactions_search', :class => 'search-form' do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  %label Search:
  = text_field_tag :search, params[:search], :class => 'form-control', :placeholder => 'Anything...', :title => "Try using name, amount, balance, description, etc."
#transactions
  = render 'transactions/transactions'
#transactionModel.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'}
            &times;
        %h3.modal-title
      #modal-data